/*fixme: something about styled components and importing fonts is a real nightmare when importing in production (works locally),
    found solution of importing font w/ css file from here:
        https://github.com/react-boilerplate/react-boilerplate/issues/2552
    there is probably something with webpack that we can fix it with, but it took more than 30 minutes and didn't seem worth it
        after that
*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Ubuntu+Mono&display=swap');

@font-face {
    font-family: "OCR A Extended";
    src: url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.eot");
    src: url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/971c473a19b6bba1059ba6add6af78d7.svg#OCR A Extended") format("svg");
}

/*
These classes come from CSSTransition component, found a article about it here:
    https://blog.logrocket.com/improve-your-ui-with-react-transition-group-999fa35f7cae/
The code is super useful
    https://codesandbox.io/s/km4jyy4n0v?from-embed

*/

.fade-enter {
    visibility: hidden;
}

.fade-enter-active {
    visibility: visible;
    transition: all 250ms;
}
.fade-enter-active:nth-child(2) {
    transition-delay: 150ms;
}

.fade-enter-active:nth-child(3) {
    transition-delay: 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: all 250ms;
}

.fade-exit-active:first-child {
    transition-delay: 300ms;
}

.fade-exit-active:nth-child(2) {
    transition-delay: 150ms;
}
